@{
   
    }


<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->

    <title>@Html.Raw(RICTotal.Models.common.app_title)</title>
    <meta content="@Html.Raw(RICTotal.Models.common.app_keywords)" name="keywords">
    <meta content="@Html.Raw(RICTotal.Models.common.app_description)" name="description">

	<!-- Google font -->
	<link href="https://fonts.googleapis.com/css?family=Hind:400,700" rel="stylesheet">
	<link type="text/css" rel="stylesheet" href="~/css/bootstrap.min.css" />
	<link type="text/css" rel="stylesheet" href="~/css/slick.css" />
	<link type="text/css" rel="stylesheet" href="~/css/slick-theme.css" />
	<link type="text/css" rel="stylesheet" href="~/css/nouislider.min.css" />
	<link rel="stylesheet" href="~/css/font-awesome.min.css">
	<link type="text/css" rel="stylesheet" href="~/css/style.css" />

    <script src="~/js/jquery.min.js"></script>
    <script src="~/Scripts/common.js"></script>

</head>

<body>
	<!-- HEADER -->
    @Html.Partial("_header")
	<!-- /HEADER -->

	<!-- NAVIGATION -->
	<div id="navigation">
		<!-- container -->
		<div class="container">
			<div id="responsive-nav">
				<!-- category nav -->
                @Html.Partial("_menu_left")
				<!-- /category nav -->

				<!-- menu nav -->
				@Html.Partial("menu_top")
				<!-- menu nav -->
			</div>
		</div>
		<!-- /container -->
	</div>
	<!-- /NAVIGATION -->

	<!-- BREADCRUMB -->
    @Html.Partial("_breadcrumb")


	<!-- /BREADCRUMB -->
    @RenderBody()

	<!-- FOOTER -->
    @Html.Partial("_footer")
	<!-- /FOOTER -->

	<!-- jQuery Plugins -->
	
	<script src="~/js/bootstrap.min.js"></script>
	<script src="~/js/slick.min.js"></script>
	<script src="~/js/nouislider.min.js"></script>
	<script src="~/js/jquery.zoom.min.js"></script>
	<script src="~/js/main.js"></script>
   
</body>

</html>
