
@{
    ViewBag.Title = "View";
    Layout = "~/Views/Shared/main_layout.cshtml";
}
 
<!-- <script src="~/Scripts/select2.min.js"></script>
<link href="~/Styles/select2.min.css" rel="stylesheet" />
<script type="text/javascript"> -->


</script>
 <div class="box" style="margin-top: 1px; margin-left:1px;" id="divcontent">
     <div class="box-header">
        <label id="lbcontent_title" style="display:none;">@(ViewBag.Function_Title)</label>
        <a id="cmdadd_cate" class="btn bg-green btn-flat " data-toggle="modal" data-target="#dlg@(ViewBag.tblname)"> <i class="fa fa-plus"></i> &nbsp;Thêm </a>
        <a id="cmddelete_cate" class="btn bg-red btn-flat ">      <i class="fa fa-remove"></i> &nbsp;Xóa </a>
        <a id="cmdprint_cate" class="btn bg-fuchsia  btn-flat ">      <i class="fa fa-print"></i> &nbsp;Print </a>
        
        <a id="cmdexport2excel" class="btn bg-blue btn-flat" title="Save 2 Excel">      <i class="fa fa-file-excel-o"></i> &nbsp;Excel</a>
        <a id="cmdexport2pdf" class="btn bg-aqua btn-flat" title="Save 2 PDF">      <i class="fa fa-file-pdf-o"></i> &nbsp;PDF </a>
        <a id="cmdactive" class="btn bg-olive btn-flat" title="Active/DeActive">      <i class="fa fa-check-square-o"></i> &nbsp;Active/DeActive </a>




        <a class="btn_endfullscreen" style="display:none;"><i class="fa fa-close"></i></a>
        <a class="btn_fullscreen"><i class="glyphicon glyphicon-fullscreen"></i></a>

    </div>

    <div class="box-body">
            <div id="grid_noidung"></div>
       
    </div>
     </div>
 
<form id="frm@(ViewBag.tblname)">
    <div class="modal fade" id="dlg@(ViewBag.tblname)" data-backdrop="static" data-keyboard="false" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h3 class="modal-title">Quản lý người dùng</h3>
                </div>
                <div id="lbthongbao" style="color:red;padding:0px  10px;"></div>
                <div class="modal-body">
                    <div class="box-body">
                        <div class="form-group" style="padding-top:25px;">
                            <label for="txtuid" class="col-sm-4 control-label">Tên đăng nhập:</label>
                            <div class="col-sm-8">
                                <input type="email" class="form-control" required id="txtuid" placeholder="Dùng làm Tên đăng nhập ">
                            </div>
                        </div>
                        <div class="form-group" style="padding-top:25px;">
                            <label for="txttel" class="col-sm-4 control-label">Phone :</label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control" id="txttel" placeholder="Số điện thoại (có thể dùng làm Tên đăng nhập) ">
                            </div>
                        </div>

                        <div class="form-group" style="padding-top:25px;">
                            <label for="txtten" class="col-sm-4 control-label">Họ tên :</label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control" required id="txtten" placeholder="Tên ">
                            </div>
                        </div>
                        <div class="form-group" style="padding-top:25px;">
                            <label for="cbbUser_CV_Id" class="col-sm-4 control-label">Chức vụ :</label>
                            <div class="col-sm-8">
                                <select tabindex="8" id="cbbUser_CV_Id" class="input-control" style="width:100%"></select>
                            </div>
                        </div>
                        <div class="form-group" style="padding-top:25px;">
                            <label for="txtpwd" class="col-sm-4 control-label">Mật khẩu :</label>
                            <div class="col-sm-8">
                                <input type="password" class="form-control" id="txtpwd" placeholder="Password ">
                            </div>
                        </div>
                        <div class="form-group" style="padding-top:25px;">
                            <label for="txtpwd1" class="col-sm-4 control-label">Xác nhận Mật khẩu :</label>
                            <div class="col-sm-8">
                                <input type="password" data-match-error="Mật khẩu xác nhận phải giống mật khẩu"  data-match="#txtpwd" class="form-control" id="txtpwd1" placeholder="Confirm Password ">
                            </div>
                        </div>

                  

                        <div class="form-group" style="padding-top:25px;">
                            <label for="ckstatus" class="col-sm-4 control-label">Status :</label>
                            <div class="col-sm-8">
                                <input type="checkbox" id="ckstatus" />
                            </div>
                        </div>

                    
                        <div class="form-group" style="padding-top:25px;"  >
                            <label for="cbbnhomquyen" class="col-sm-4 control-label">Phòng ban:</label>
                            <div class="col-sm-8">
                                <select  id="cbbnhomquyen" multiple="multiple" class="form-control" style="width:100%;">
                                   
                                </select>
                            </div>
                        </div>
                       
                      
                </div>


                 <div class="modal-footer">
                        <button type="button" class="btn bg-red pull-right" data-dismiss="modal"><i class="fa fa-close"></i>  Đóng</button>
                        <button type="button" class="btn bg-green pull-left" id="cmdsave_cate"><i class="fa fa-save"></i>&nbsp; Lưu</button>
                    </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
        </div>
    <!-- /.modal -->
</form>
 

<style type="text/css">
    .btn_edit{}

</style>
<script type="text/javascript">

    js_mn_tt = "@ViewBag.mn_tt";
    function InitDefault() {
         iPrintColStart = 3; // cot bat dau in cua kendouigrid
          iPrintColNumbers = 3; // so cot in
          
        columnsWidth = [{ sWidth: '5%' }, { sWidth: '10%' }, { sWidth: '20%' }, { sWidth: '15%' }, { sWidth: '15%' }, { sWidth: '15%' }, { sWidth: '15%' }, { sWidth: '5%' }];
        columnAutoWidth = false;
        bLoadDataCommon = false;
        title = '@Html.Raw(ViewBag.Function_Title)';
        document.title = '@Html.Raw(RICTotal.Models.common.app_title_short)' + " - " + title;
        exportFileName = '@ViewBag.ControllerName';

        myVersion = 2;
          jsonData= []; // chua du lieu can bind ra bang
          urlobj;
          bAddEdit = true; // true: add, false: edit
         controllerURL = '/@ViewBag.ControllerName';
        tblData = '@ViewBag.tblname'; // tên bảng show dữ liệu
        dlgAddEdit = 'dlg@(ViewBag.tblname)'; // dialog chữa form edit
          TienTo = ''; // tên trường tiền tố của 1 bảng

          _row = {
              id: ""
              , uidname: ""
              , name: ""
              , pwd: ""
              , active: ""
              , avata: ""
              , tel: ""
              , qten: ""
              , qid: []
              , cnten:""
              , cnid:[]
              ,User_CV_Id:""
          };
    }

    // khoi tao cac gia tri mac dinh khi addnew sau khi reset
    function InitDefaultValue() {
        //$('#txtpagesize').val(10);
        $('#ckmultilogin').prop('checked', true);
        $('#ckstatus').prop('checked', true);
     
        
         $('#txtpagesize').val(@ViewBag.pagesize);
        //$('#ckstatus').prop('checked', true);
    }



    $(document).ready(function () {
        loadComboNhom('cbbUser_CV_Id', '/Users/Get_ChucVu/' + 'js_mn_tt','id','ten',"");
        $('#cbbUser_CV_Id').select2();        

        loadComboNhom('cbbnhomquyen', '/Common/GetPermissionGroups/' + js_mn_tt,'id','name',"");
        $('#cbbnhomquyen').select2();
       
        $('#frmuser').validator().on('submit', function (e) {
            if (e.isDefaultPrevented()) {
            } else {
                // everything looks good!

                return false;
            }
        })

    });

    function disableHideObjects()
    {
        $('#txtuid').attr('disabled', true);
    }

    function resetAddItem() {
        $('#cbbnhomquyen').val([]);
        $("#cbbnhomquyen").trigger("change");
       
        $('#' + dlgAddEdit + ' input').val('');
        $('#' + dlgAddEdit + ' textarea').val('');
        $('#' + dlgAddEdit + ' input').attr('disabled', false);
    }
   // load du lieu ra form de sua
    function _editItem(obj, rowindex) {
        $('#lbthongbao').html('');

        // $('#txtma').prop('readonly', true);
        disableHideObjects();
        bAddEdit = false;
       // var row = jsonData[rowindex];
        var row = grid.dataItem("tbody tr:eq(" + (rowindex - 1) + ")"); //get data
        bAddEdit = false;
        _EDIT_INDEX = rowindex-1;
        _EDIT_ID = row.id;
        $('#txtuid').val(row.uidname);
        $('#txtten').val(row.name);
        $('#txtpwd').val('');
        $('#txtpwd1').val('');
        $('#txttel').val(row.tel);
        $('#cbbUser_CV_Id').val(row.User_CV_Id);

        $('#ckstatus').prop('checked', (row.active / 1 == 1 ? true : false));
     
        $('#cbbnhomquyen').val(row.qid);
        $("#cbbnhomquyen").trigger("change");
        $("#cbbUser_CV_Id").trigger("change");
      
    }

       

    //-------------end edit a record

    //------------- valid  a record
    function IsValid() {

        _row.id = _EDIT_ID;
        _row.uidname = $("#txtuid").val();
        _row.name = $("#txtten").val();

        _row.pwd = $("#txtpwd").val();
        _row.pwd1 = $("#txtpwd1").val();
        _row.tel = $("#txttel").val();
        _row.active = ($("#ckstatus").is(':checked') ? 1 : 0);
        _row.lakinhdoanh = 1;

        _row.qid = $("#cbbnhomquyen").val();
        _row.User_CV_Id = $("#cbbUser_CV_Id").val();
        _row.qten = [];
        

        var i = 0;
        $("#cbbnhomquyen option:selected").each(function(){
            _row.qten[i] = $(this).text();
            i += 1;
        });
        i = 0;
        
        // chuan hoa xau
        _row.uidname = _row.uidname.replace(reg, '');
        _row.name = _row.name.replace(reg, '');

        _row.pwd = _row.pwd.replace(reg, '');
        _row.pwd1 = _row.pwd1.replace(reg, '');
        _row.tel = _row.tel.replace(reg, '');


        msg = '';
        if (bAddEdit)
        {
            if (_row.pwd == '') msg += '\n- Cần vào Mật khẩu;';
            if (_row.pwd1 == '') msg += '\n- Cần vào Mật khẩu xác nhận;';
        }

        if (msg != '') {
           $('#lbthongbao').html('Error: ' + msg);
            return false;
        }

        return true;
    }
    //------------- end valid a record
    function _getGroupName(obj)
    {  
        var s = '';
        for (i = 0; i < obj.length; i++)
        {
            s += '<span class="groupname" >' + obj[i] + '</span>';
        }
        return s;
    }
 
   function _showGrid() {
       var crudServiceBaseUrl = controllerURL;
      
      

        $("#grid_noidung").kendoGrid({
            dataSource: {
                transport: {
                    read: {
                        url: crudServiceBaseUrl + "/GetList/" + js_mn_tt,
                        dataType: "json"
                    }
                },

                //data: data,
                schema: {
                    parse : function(data) {
                                return data.data;
                        }
                },
                pageSize: @ViewBag.pagesize
            },
            filterable: {
               // mode:"row",
                extra: false,
                operators: {
                    string: {
                        contains: "Contains...",
                        startswith: "Starts with",
                        eq: "Is equal to"
                        //, neq: "Is not equal to"
                    }
                }
            },

            // height: 500,
            //toolbar: ["excel"],
            scrollable: false,
            sortable: { mode: "multiple", allowUnsort: true },
            pageable: { input: false, numeric: true },
            reorderable: true,
            resizable: true,
            groupable: true,
            allowCopy: true,
            selectable: "multiple cell",
            excel: {
                fileName: exportFileName + ".xlsx",
                allPages: true,
                filterable: true
            },
            pdf: {
                author: "RIC Total",
                creator: "RIC Total",
                date: new Date(),
                fileName: exportFileName + ".pdf",
                subject: "RIC Total: " + exportFileName,
                title: "RIC Total: " + exportFileName,
                margin: { left: "20pt", right: "20pt", top: "15mm", bottom: "15mm" },
                paperSize: "A4",
                landscape: true,
                scale: 0.8,
                avoidLinks: true,
                repeatHeaders: true,
                template: $("#page-template").html(),
                allPages: true
            },

            columns: [
                {field: "id", title: "No.", template: "#= ++recordnumber#", filterable: false   , sortable: false},
                {
                    title: "<input type=checkbox id='ckcheckall' onclick='_checkAll();'>"
                    , template: "<input type=checkbox value='#=id#'>"               , filterable: false , sortable: false
                }, {
                    title: ""
                    , template: "<a href='javascript://' class='bg-green' title='Thông tin chi tiết => Sửa'  style='padding:5px;' onclick=' _editItem(\"#=id#\",\"#= recordnumber #\")'  data-toggle='modal' data-target='\\#dlg@(ViewBag.tblname)'><i class='fa fa-edit'></a>"
                    , filterable: false  , sortable: false
                },
                { field: "uidname", title: "Email đăng nhập", filterable: { cell: { operator: "contains" } } },
                { field: "name", title: "Họ tên", filterable: { cell: { operator: "contains" } } },
                { field: "tel", title: "Điện thoại", filterable: { cell: { operator: "contains" } } },
                {title: "Nhóm quyền", template: "#= _getGroupName(qten) #",  filterable: false , sortable: false}, 
               
                { field: "active", title: "Status"}
             
       ],
            dataBound: function (e) {
                recordnumber = 0;
                for (var i = 0; i < this.columns.length; i++) this.autoFitColumn(i);
            }
        }) ;
        
         grid = $("#grid_noidung").data("kendoGrid");
    }


 

    function _gridUpdateItem() {
       
        var grid = $("#grid_noidung").data("kendoGrid");
        var dataSource = grid.dataSource;
        var dataItem = grid.dataItem("tbody tr:eq(" + _EDIT_INDEX + ")"); //get data
        dataItem["uidname"] = _row.uidname;
        dataItem["name"] = _row.name;
        dataItem["cnten"] = _row.cnten;
        dataItem["qten"] = _row.qten;
        dataItem["qid"] = _row.qid;
        dataItem["tel"] = _row.tel;
        dataItem["active"] = _row.active;
        dataItem["User_CV_Id"] = _row.User_CV_Id;
     
        grid.refresh();
    }
    //-------------end edit a record

   
</script>