
@{
    ViewBag.Title = "View";
    Layout = "~/Areas/Admin/Views/Shared/main_layout.cshtml";
}

 


<div class="box" style="margin-top: 1px; margin-left:1px;" id="divcontent">
    <div class="box-header">
        <label id="lbcontent_title" style="display:none;">@(ViewBag.Function_Title)</label>
        <a id="cmdadd_cate" class="btn bg-green btn-flat " data-toggle="modal" data-target="#dlg@(ViewBag.tblname)"> <i class="fa fa-plus"></i> &nbsp;Thêm </a>
        <a id="cmddImportJson" class="btn bg-blue-active btn-flat " data-toggle="modal" data-target="#dlgImport">      <i class="fa fa-remove"></i> &nbsp;Import tệp tin json </a>
        <a id="cmddelete_cate" class="btn bg-red btn-flat ">      <i class="fa fa-remove"></i> &nbsp;Xóa </a>

    </div>

    <div class="box-body">
        <div id="grid_noidung"></div>
    </div>
</div>
<form id="frmImportJson">
    <div class="modal fade" id="dlgImport" data-backdrop="static" data-keyboard="false" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h3 class="modal-title">DANH MỤC NHÓM TÀI LIỆU</h3>
                </div>
                <div id="lbthongbao" style="color:red;padding:0px  10px;"></div>
                <div class="modal-body">
                    <div class="box-body">

                        <div class="form-group" style="padding-top:25px;">
                            <label for="txtGroupDocument" class="col-sm-4 control-label">Chọn tệp tin json:</label>
                            <div class="col-sm-8">
                                <table border="0" style="width: 100%; border-collapse: separate; border-spacing: 5px; ">
                                    <tr>
                                        <td style="width:80%"><input id="txtGroupDocument" class="input-control" name="txtGroupDocument" type="text" /></td>
                                        <td style="width:20%"><button id="chonanhbia" class="btn btn-default">  Chọn tệp tin  </button></td>

                                    </tr>
                                    <tr>
                                        <td colspan="2" align="right"><label id="lbltxtGroupDocuments"></label></td>
                                    </tr>

                                </table>
                            </div>
                        </div>
                        <div class="form-group" style="padding-top:25px;">
                            <label for="chkLoaiHinh" class="col-sm-4 control-label">Thủ tục cá nhân/doanh nghiệp:</label>
                            <div class="col-sm-8">
                                <select id="cbbLoaiHinh" class="form-control" style="width:300px">
                                    <option value="0">Chọn loại thủ tục</option>
                                    <option value="1">Cá nhân</option>
                                    <option value="2">Doanh nghiệp</option>
                                </select>
                            </div>
                        </div>
                    </div>


                    <div class="modal-footer">
                        <button type="button" class="btn bg-red pull-right" data-dismiss="modal"><i class="fa fa-close"></i>  Đóng</button>
                        <button type="button" class="btn bg-green pull-left" id="cmdsave_data"><i class="fa fa-save"></i>&nbsp; Lưu</button>
                    </div>
                </div>
                <!-- /.modal-content -->
            </div>
            <!-- /.modal-dialog -->
        </div>
    </div>
</form>
<form id="frm@(ViewBag.tblname)">
    <div class="modal fade" id="dlg@(ViewBag.tblname)" data-backdrop="static" data-keyboard="false" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h3 class="modal-title">DANH MỤC NHÓM TÀI LIỆU</h3>
                </div>
                <div id="lbthongbao" style="color:red;padding:0px  10px;"></div>
                <div class="modal-body">
                    <div class="box-body">


                        <div class="form-group" style="padding-top:25px;">
                            <label for="txtgroup_code" class="col-sm-4 control-label">Mã nhóm :</label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control" id="txtgroup_code" placeholder="Mã nhóm tài liệu">
                            </div>
                        </div>
                        <div class="form-group" style="padding-top:25px;">
                            <label for="txtgroup_title" class="col-sm-4 control-label">Tiêu đề :</label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control" id="txtgroup_title" placeholder="Tiêu đề nhóm ">
                            </div>
                        </div>
                        <div class="form-group" style="padding-top:25px;">
                            <label for="txtsource" class="col-sm-4 control-label">Nguồn trích dẫn :</label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control" id="txtsource" placeholder="Nguồn trích dẫn ">
                            </div>
                        </div>
                        <div class="form-group" style="padding-top:25px;">
                            <label for="cbbgroup_type" class="col-sm-4 control-label">Cá nhân/doanh nghiệp:</label>
                            <div class="col-sm-8">
                                <select id="cbbgroup_type" class="form-control" style="width:350px">
                                    <option value="0">Chọn loại thủ tục</option>
                                    <option value="1">Cá nhân</option>
                                    <option value="2">Doanh nghiệp</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group" style="padding-top:25px;">
                            <label for="chkCV_Status" class="col-sm-4 control-label">Trạng thái :</label>
                            <div class="col-sm-8">
                                <input type="checkbox" id="ckstatus" />
                            </div>
                        </div>


                    </div>


                    <div class="modal-footer">
                        <button type="button" class="btn bg-red pull-right" data-dismiss="modal"><i class="fa fa-close"></i>  Đóng</button>
                        <button type="button" class="btn bg-green pull-left" id="cmdsave_cate"><i class="fa fa-save"></i>&nbsp; Lưu</button>
                    </div>
                </div>
                <!-- /.modal-content -->
            </div>
            <!-- /.modal-dialog -->
        </div>
    </div>
    <!-- /.modal -->
</form>

<div id="dialog">
</div>
<style type="text/css">
    .btn_edit {
    }
</style>
<script>
    $(function () {
        $("#chonanhbia").click(function () {
            var finder = new CKFinder();
            finder.selectActionFunction = function (fileUrl) {
                $("#txtGroupDocument").val(fileUrl);
            };
            finder.popup();
        });
    });
</script>
<script type="text/javascript">


    function InitDefault() {
          iPrintColStart = 3; // cot bat dau in cua kendouigrid
          iPrintColNumbers = 3; // so cot in

          columnsWidth = [{ sWidth: '10%' }, { sWidth: '30%' }, { sWidth: '30%' },{ sWidth: '30%' }];
        columnAutoWidth = false;
        bLoadDataCommon = false;
        title = '@Html.Raw(ViewBag.Function_Title)';
        document.title = '@Html.Raw(RICTotalAdmin.Models.common.app_title_short)' + " - " + title;
        exportFileName = '@ViewBag.ControllerName';

        myVersion = 2;
          jsonData= []; // chua du lieu can bind ra bang
          urlobj;
          bAddEdit = true; // true: add, false: edit

        controllerURL = '/@ViewBag.ControllerName';
        tblData = '@ViewBag.tblname'; // tên bảng show dữ liệu
        dlgAddEdit = 'dlg@(ViewBag.tblname)'; // dialog chữa form edit
        TienTo = 'CQBH'; // tên trường tiền tố của 1 bảng
        var userID  ='@ViewBag.login_nv_id.ToString()';
          _row = {
              id: ""
             , Odl_Code:""
              , group_code: ""

              , group_title: ""
              , source:""
              , active: ""
              , group_type:""
              , jsonFile: ""
              , LoaiHinh:""
              , CreatedById:userID
          };
    }

    // khoi tao cac gia tri mac dinh khi addnew sau khi reset
    function InitDefaultValue() {
        //$('#txtpagesize').val(10);
       // $('#ckmultilogin').prop('checked', true);
       // $('#ckstatus').prop('checked', true);


         $('#txtpagesize').val(@ViewBag.pagesize);
        //$('#ckstatus').prop('checked', true);
    }



    $(document).ready(function () {
        js_mn_tt = "@ViewBag.mn_tt";
       // loadComboNhom('cbbCV_CQL_Id', '/ChucVu/GetParent/' + 'js_mn_tt','id','ten',"");
      //  $('#cbbCV_CQL_Id').select2();

        $('#cmdsave_data').click(function () {
            _saveData();
        });

        $('#frmuser').validator().on('submit', function (e) {
            if (e.isDefaultPrevented()) {
            } else {
                // everything looks good!

                return false;
            }
        })

    });

   function _saveData() {

     var url = controllerURL + "/ImportJsonToDatabase/1";
    _row.jsonFile = $('#txtGroupDocument').val();
    _row.LoaiHinh = $('#cbbLoaiHinh').val();
    if (_row.LoaiHinh == 0) {
        // 2. Đóng modal đúng cách

        $('#dlgImport').modal('hide');

        myalert("Bạn phải chọn loại thủ tục", 500);
        return false;

    }
    $.post(url, { data: JSON.stringify(_row) }, function (data) {

            var dt = data;
            if (dt.code / 1 != 100) {

                meAlert("Thông báo", dt.msg, 500);
                return false;
        }
        myalert("Cập nhật thành công", 500);

        $('#dlgImport').modal('hide');
        _showGrid();

        });

        return true; // de ko submit len may chu
    }

    function disableHideObjects()
    {
       // $('#txtuid').attr('disabled', true);
    }

    function resetAddItem() {
       // $('#cbbnhomquyen').val([]);
      //  $("#cbbnhomquyen").trigger("change");

        $('#' + dlgAddEdit + ' input').val('');
        $('#' + dlgAddEdit + ' textarea').val('');
        $('#' + dlgAddEdit + ' input').attr('disabled', false);
    }
   // load du lieu ra form de sua
    function _editItem(obj, rowindex) {
        $('#lbthongbao').html('');

        // $('#txtma').prop('readonly', true);
       // disableHideObjects();
        bAddEdit = false;
       // var row = jsonData[rowindex];
        var row = grid.dataItem("tbody tr:eq(" + (rowindex - 1) + ")"); //get data


        bAddEdit = false;
        _EDIT_INDEX = rowindex-1;
        _EDIT_ID = row.id;
        _COMMONCODE = row.group_code;

        $('#txtgroup_code').val(row.group_code);
        $('#txtgroup_title').val(row.group_title);
        $('#txtsource').val(row.source);
        $('#cbbgroup_type').val(row.group_type)
        $('#ckstatus').prop('checked', (row.active / 1 == 1 ? true : false));
        $("#cbbgroup_type").trigger("change");


    }



    //-------------end edit a record

    //------------- valid  a record
    function IsValid() {

        _row.id = _EDIT_ID;
        _row.Odl_Code = _COMMONCODE;

        _row.group_code = $('#txtgroup_code').val();
        _row.group_title = $('#txtgroup_title').val();
        _row.source = $('#txtsource').val();
        _row.group_type = $('#cbbgroup_type').val()
        _row.active = ($("#ckstatus").is(':checked') ? 1 : 0);

        msg="";

        if (_row.group_code =="")
            msg+="<br>+ Chưa nhập mã.";
        if (_row.group_title =="")
            msg+="<br>+ Chưa nhập tên.";



        if (bAddEdit)
        {
            //if (_row.pwd == '') msg += '\n- Cần vào Mật khẩu;';
            //if (_row.pwd1 == '') msg += '\n- Cần vào Mật khẩu xác nhận;';
        }

        if (msg != '') {
            DisplayDialog('dialog','cmdsave_cate',msg);
            return false;
        }

        return true;
    }
    //------------- end valid a record
    function _getGroupName(obj)
    {
        var s = '';
        for (i = 0; i < obj.length; i++)
        {
            s += '<span class="groupname" >' + obj[i] + '</span>';
        }
        return s;
    }

    function _showGrid() {

        var crudServiceBaseUrl = controllerURL ;

        $("#grid_noidung").kendoGrid({
            dataSource: {
                transport: {
                    read: {
                        url: crudServiceBaseUrl + "/GetList/" + "@ViewBag.mn_tt",
                        dataType: "json"
                    }
                },

                //data: data,
                schema: {
                    parse : function(data) {
                                return data.data;
                        }
                },
                pageSize: @ViewBag.pagesize
            },
            filterable: {
               // mode:"row",
                extra: false,
                operators: {
                    string: {
                        contains: "Contains...",
                        startswith: "Starts with",
                        eq: "Is equal to"
                        //, neq: "Is not equal to"
                    }
                }
            },

            // height: 500,
            //toolbar: ["excel"],
            scrollable: false,
            sortable: { mode: "multiple", allowUnsort: true },
            pageable: { input: false, numeric: true },
            reorderable: true,
            resizable: true,
            groupable: true,
            allowCopy: true,
            selectable: "multiple cell",
            excel: {
                fileName: exportFileName + ".xlsx",
                allPages: true,
                filterable: true
            },
            pdf: {
                author: "RIC Total",
                creator: "RIC Total",
                date: new Date(),
                fileName: exportFileName + ".pdf",
                subject: "RIC Total: " + exportFileName,
                title: "RIC Total: " + exportFileName,
                margin: { left: "20pt", right: "20pt", top: "15mm", bottom: "15mm" },
                paperSize: "A4",
                landscape: true,
                scale: 0.8,
                avoidLinks: true,
                repeatHeaders: true,
                template: $("#page-template").html(),
                allPages: true
            },

            columns: [
                {field: "id", title: "No.", template: "#= ++recordnumber#", filterable: false   , sortable: false},
                {
                    title: "<input type=checkbox id='ckcheckall' onclick='_checkAll();'>"
                    , template: "<input type=checkbox value='#=id#'>"               , filterable: false , sortable: false
                }, {
                    title: ""
                    , template: "<a href='javascript://' class='bg-green' title='Thông tin chi tiết => Sửa'  style='padding:5px;' onclick=' _editItem(\"#=id#\",\"#= recordnumber #\")'  data-toggle='modal' data-target='\\#dlg@(ViewBag.tblname)'><i class='fa fa-edit'></a>"
                    , filterable: false  , sortable: false
                },

                { field: "group_code", title: "Mã nhóm", filterable: { cell: { operator: "contains" } } },
                { field: "group_title", title: "Tiêu đề nhóm", filterable: { cell: { operator: "contains" } } },
                { field: "TrangThai", title: "Trạng thái", filterable: { cell: { operator: "contains" } } },



       ],
            dataBound: function (e) {
                recordnumber = 0;
                for (var i = 0; i < this.columns.length; i++) this.autoFitColumn(i);
            }
        }) ;

         grid = $("#grid_noidung").data("kendoGrid");
    }




    function _gridUpdateItem() {

        var grid = $("#grid_noidung").data("kendoGrid");
        var dataSource = grid.dataSource;
        var dataItem = grid.dataItem("tbody tr:eq(" + _EDIT_INDEX + ")"); //get data
        dataItem["group_code"] = _row.group_code;
        dataItem["group_title"] = _row.group_title;

        dataItem["active"] = _row.active;

       // dataItem["active"] = _row.active;

        grid.refresh();
    }
    //-------------end edit a record


</script>
